  <!-- start section navbar -->
  <nav id="main-nav-subpage" class="subpage-nav sticky">
    <div class="row">
      <div class="container">

        <div class="logo">
          <a href="/"><img src="/images/site_logo.png" alt="logo"></a>
        </div>

        <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>

        <ul class="nav-menu list-unstyled">
          <li><a href="/">Home</a></li>
        <!--  <li><a href="#about" class="smoothScroll">About</a></li> -->
          <li><a href="/work" class="smoothScroll">Portfolio</a></li>
          <li><a href="/blog-grid">Blog</a></li>
          <li><a href="/contact" class="smoothScroll">Contact</a></li>
        </ul>

      </div>
    </div>
  </nav>
  <!-- End section navbar -->
