---
layout: work
---
<div id="portfolio" class="text-center paddsection">
    <div class="container">
      <div class="section-title text-center">
        <h1>Illustrations</h1>
        <p>A collection of illustrations and vector art I’ve created over the years. The majority of these works have been personal projects I’ve made for fun. I use a combination of Illustrator and Photoshop to make, color and export.</p>
      </div>
    </div>
 <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="portfolio-container">
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/ill/gameboy.jpg">
                <img src="/images/ill/gameboy.jpg" alt="Illustration of a hand-held gaming device that is part monster.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/ill/clemmons-HR.jpg">
                <img src="/images/ill/clemmons-HR.jpg"  alt="Illustraion of a blue man wearing a plauge doctor mask and hat.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/ill/lost-in-space.jpg">
                <img src="/images/ill/lost-in-space.jpg" alt="Illustration of an astronaut in a dusty area with the text lost in space.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/ill/pineapple.jpg">
                <img src="/images/ill/pineapple.jpg" alt="Illustration of an abstract pineapple with ribbons in the background.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/ill/Seven.jpg">
                <img src="/images/ill/Seven.jpg" alt="Illustration of a stylized 7 with scales on a yellow background.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/ill/moonlight.jpg">
                <img src="/images/ill/moonlight.jpg" alt="Illustration of a shooting star landing on a distant mountain.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/ill/Bort1a.jpg">
                <img src="/images/ill/Bort1a.jpg" alt="A cartoon kid riding a skateboard.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/ill/Bort2.jpg">
                <img src="/images/ill/Bort2.jpg"  alt="Illustration of a kid falling off a skateboard.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/ill/Bort3.jpg">
                <img src="/images/ill/Bort3.jpg" alt="Illustration of an injured kid after falling off a skateboard.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/ill/rabbit.jpg">
                <img src="/images/ill/rabbit.jpg" alt="Mixed medium of a rabbit man holding a melting BMX bike while a shadow looks over his shoulder.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/ill/Garf.jpg">
                <img src="/images/ill/Garf.jpg" alt="Illustration of a Garfield-like character wearing a viking helmet and mad max style mask.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/ill/bird.jpg">
                <img src="/images/ill/bird.jpg" alt="Illustration of a bird skull.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/ill/edman.jpg">
                <img src="/images/ill/edman.jpg" alt="Illustration of a man wearing a bunny hood with the text ceci n'est pas une Edman.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/ill/AmericanEthan.jpg">
                <img src="/images/ill/AmericanEthan.jpg" alt="Illustration of a man hanging outside of a pizza store.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/ill/durr2-copy.jpg">
                <img src="/images/ill/durr2-copy.jpg" alt="Illustration of a man wearing a shirt that says alivec4t on a vanhaalen background.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/ill/album.jpg">
                <img src="/images/ill/album.jpg" alt="Illustration of a building covered in symbols.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/ill/skullboy.jpg">
                <img src="/images/ill/skullboy.jpg" alt="Illustration of a skull cartoon character giving the peace sign in the woods.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/ill/hand2.jpg">
                <img src="/images/ill/hand2.jpg" alt="Illustration of an abstract street style drawing.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/ill/hipster.jpg">
                <img src="/images/ill/hipster.jpg" alt="Illustration of a hand coming out of a coffee cup that says it's a mug.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/ill/vapewizard.jpg">
                <img src="/images/ill/vapewizard.jpg" alt="Illustration of a plauge doctor smoking a pipe and making a vape snake.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/ill/The-Watcher.jpg">
                <img src="/images/ill/The-Watcher.jpg" alt="Illustration of a feathered monster with multiple eyes and tentacles.">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

