---
layout: work
---
<div id="portfolio" class="text-center paddsection">
    <div class="container">
      <div class="section-title text-center">
        <h1>Model Photography</h1>
        <p>A collection of model photography I’ve taken and edited over the years. The images come from professional, personal and "just for fun" sessions. Below are a mixture of shots in natural, studio and artificial lighting conditions. The majority of these were shot using a Sony a7r iii with a 24-105mm lens and a variety of polarizing filters. Editing done in Photoshop.</p>
      </div>
    </div>
 <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="portfolio-container">
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/models/frame.jpg">
                <img src="/images/models/frame.jpg" alt="A model looking out of several stylized frames floating in front of her.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/models/sadboy.jpg">
                <img src="/images/models/sadboy.jpg"  alt="A man holding his glasses while pixels fall from under the lenses.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/models/grid.jpg">
                <img src="/images/models/grid.jpg" alt="Model photo of woman in white with a blue grid in front of her.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/models/BandW.jpg">
                <img src="/images/models/BandW.jpg" alt="Black and white model photo of a woman sitting on a rock in the woods.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/models/science.jpg">
                <img src="/images/models/science.jpg" alt="A man inspects his glasses in blue/yellow light.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/models/street.jpg">
                <img src="/images/models/street.jpg" alt="Senior photo of a woman taken on a road in a downtown location.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/models/photoshoot.jpg">
                <img src="/images/models/photoshoot.jpg" alt="A woman sits with a skull on her lap surrounded by cloth.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/models/smile.jpg">
                <img src="/images/models/smile.jpg" alt="Model photo of a smiling woman in a downtown location.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/models/cat.jpg">
                <img src="/images/models/cat.jpg" alt="Dramatic side photo of a cats face on a dark background.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/models/tarot.jpg">
                <img src="/images/models/tarot.jpg" alt="Shot of woman dressed as a forune teller with a crystal ball as glowing eyes wait in the background.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/models/barcode.jpg">
                <img src="/images/models/barcode.jpg"  alt="Two tone photo of a woman with a bar code coming out of her.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/models/night.jpg">
                <img src="/images/models/night.jpg"  alt="Photo of a face in a dark location with a single red light illuminiating the scene with the text: Hold That Thought.">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

