---
layout: work
---
<div id="portfolio" class="text-center paddsection">
    <div class="container">
      <div class="section-title text-center">
        <h1>Photos</h1>
        <p>This is a collection of works I’ve created in my freetime over the years. I enjoy both natural photography of scenes as well as making digital manipulations to multiple images to make a mood. Most of these were shot on a Nikon d3300, Nikon D7100 or a Sony a7r iii with a variety of lenses and edited in Photoshop.
For more examples of my work feel free to check out my instagram <a href="https://www.instagram.com/coyancm/">@coyancm</a></p>
      </div>
    </div>
 <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="portfolio-container">
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/photos/split.jpg">
                <img src="/images/photos/split.jpg" alt="A woman with green skin has her head opening into black smoke.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/photos/Bath.jpg">
                <img src="/images/photos/Bath.jpg"  alt="An aerial shot of a large man having a bath in a pond.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/photos/blur.jpg">
                <img src="/images/photos/blur.jpg" alt="Long exposure of a basement. Lights stretch across the screen and image of a person is partially seen.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/photos/bold.jpg">
                <img src="/images/photos/bold.jpg" alt="A pink and baby blue image of a woman smoking an arizona can with text that says Bold.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/photos/Mourning-in-blue.jpg">
                <img src="/images/photos/Mourning-in-blue.jpg" alt="Abstract headshot of a woman with a triangle around her neck.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/photos/breath.jpg">
                <img src="/images/photos/breath.jpg" alt="Abstract photo of a man with a tree, light house and telephone poles coming out of his head.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/photos/city.jpg">
                <img src="/images/photos/city.jpg" alt="Stylized photo of the Cincinnati skyline.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/photos/fiji.jpg">
                <img src="/images/photos/fiji.jpg"  alt="A statue of a woman on a horse coming out of the ocean to a beached bottle of fiji water.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/photos/pool.jpg">
                <img src="/images/photos/pool.jpg" alt="A night time shot of a public pool.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/photos/Hands.jpg">
                <img src="/images/photos/Hands.jpg" alt="Green hands reaching out of water towards triangles.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/photos/thought.jpg">
                <img src="/images/photos/thought.jpg" alt="A woman has a zipper on her neck revealing an ocean within.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/photos/smoke.jpg">
                <img src="/images/photos/smoke.jpg" alt="Stylized photo of a blue and orange man smoking on a portch.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/photos/colors.jpg">
                <img src="/images/photos/colors.jpg" alt="A profile photo of a man in red/blue lighting.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/photos/Tranz.jpg">
                <img src="/images/photos/Tranz.jpg" alt="A statue of 2D from the Gorillaz on a black background.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/photos/words.jpg">
                <img src="/images/photos/words.jpg" alt="A man holds a tambourine and is surronded by corporate jargon.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/photos/studyinred.jpg">
                <img src="/images/photos/studyinred.jpg" alt="An old camera, bird skull, deer antler and some lavender are layed out on a deep red fabric.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/photos/studyinred3.jpg">
                <img src="/images/photos/studyinred3.jpg" alt="A bear skull, wooden fan, jar of rose petals and deer antler laid out on a dark red fabric.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/photos/studyinred2.jpg">
                <img src="/images/photos/studyinred2.jpg" alt="Several items, including a dear skull and a jar of rose petals, laid out on a dark red fabric.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/photos/star.jpg">
                <img src="/images/photos/star.jpg" alt="A partially transparent pointed object has a hand pushing against the internal wall.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/photos/floater.jpg">
                <img src="/images/photos/floater.jpg" alt="A violin and bow float in front of a window in an old barn.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/photos/beachwarp-color.jpg">
                <img src="/images/photos/beachwarp-color.jpg" alt="A photo of a beach with the shore quickly turning 90 degrees.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/photos/oasis.jpg">
                <img src="/images/photos/oasis.jpg" alt="A scenic photo of a large body of water in the Arizona landscape.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/photos/sideviolin.jpg">
                <img src="/images/photos/sideviolin.jpg" alt="A violin and bow float in an old barn.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/photos/oasis2.jpg">
                <img src="/images/photos/oasis2.jpg" alt="A scenic photo of a lake in Arizona during golden hour.">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

