---
layout: work
---
<div id="portfolio" class="text-center paddsection">
    <div class="container">
      <div class="section-title text-center">
        <h1>Product Photography</h1>
        <p>A collection of product photography I’ve taken and edited over the years. The majority of these were shot in studio settings using a Sony a7r iii with a 24-105mm lens with a variety of lights and diffusers. Editing done in camera with Photoshop assistance for color balance and for export settings.</p>
      </div>
    </div>
 <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="portfolio-container">
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/product/canon.jpg">
                <img src="/images/product/canon.jpg" alt="Product photo of a canon on a white background.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/product/guitar.jpg">
                <img src="/images/product/guitar.jpg"  alt="Product photo of tan guitar on a white background.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/product/chess.jpg">
                <img src="/images/product/chess.jpg" alt="Product photo of a fancy chess board on a white background.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/product/standard.jpg">
                <img src="/images/product/standard.jpg" alt="Product photo of a dental instrument with dramatic lighting on a black background.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/product/splash.jpg">
                <img src="/images/product/splash.jpg" alt="Water droplets splashing next to a dental implant.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/product/set_blue.jpg">
                <img src="/images/product/set_blue.jpg" alt="Product photo of several vibrant blue dental tools on a black background.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/product/food2.jpg">
                <img src="/images/product/food2.jpg" alt="A fresh mediterranean meal with a salad on a wooden table.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/product/food.jpg">
                <img src="/images/product/food.jpg" alt="Mediterranean meal on a wooden table.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/product/food3.jpg">
                <img src="/images/product/food3.jpg" alt="Three fresh mediterranean meals on a wooden table.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/product/art.jpg">
                <img src="/images/product/art.jpg" alt="Product photo of metallic gold wall hang depicting swans on water.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/product/wine.jpg">
                <img src="/images/product/wine.jpg"  alt="HDR photo of a collection of wine.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/product/watch.jpg">
                <img src="/images/product/watch.jpg" alt="Product photo of watch face on gray to white gradient background.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/product/teeth.jpg">
                <img src="/images/product/teeth.jpg" alt="Close up shot of teeth with water droplets on black background.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/product/teeth3.jpg">
                <img src="/images/product/teeth3.jpg"  alt="Close up photo of dental wax up.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/product/teeth2.jpg">
                <img src="/images/product/teeth2.jpg" alt="Close up shot of teeth with water droplets on blue background.">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

