---
layout: work
---
<div id="portfolio" class="text-center paddsection">
    <div class="container">
      <div class="section-title text-center">
        <h1>Videos</h1>
        <p>A collection of videos filmed and/or edited by me. The majority are work projects, but I've included a couple personal projects as well. Most of the footage below comes from a variety of DSLR models and lenses with some occasional GoPro footage.</p>
      </div>
    </div>
 <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="portfolio-container">
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-youtube" href="https://www.youtube.com/watch?v=18UewJS1wtI">
                <img src="/images/video/ganz.jpg"  alt="Still shot of frings instrument with quote.">
                <p>Frings: Ganz</p>
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-youtube" href="https://www.youtube.com/watch?v=gQInVkr0saQ">
                <img src="/images/video/neal.jpg" alt="Still shot of frings instrument with quote.">
                <p>Frings: Patel</p>
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-youtube" href="https://www.youtube.com/watch?v=6fMOwbL8PQU">
                <img src="/images/video/tawil.jpg"  alt="Still shot of frings instrument with quote.">
                <p>Frings: Tawil</p>
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-youtube" href="https://www.youtube.com/watch?v=G4P-gOFsmUo">
                <img src="/images/video/wedding.jpg" alt="A bride and groom happily stand together.">
                <p>Wedding Highlight Video</p>
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-youtube" href="https://www.youtube.com/watch?v=WJzTDk5K84E">
                <img src="/images/video/commercial.jpg" alt="A still of a noir style shot of a detective.">
                <p>The Commercial</p>
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-youtube" href="https://www.youtube.com/watch?v=LoOvLxLJ9I0">
                <img src="/images/video/solitude.jpg" alt="An illustration of a man with a blurry face sitting on a couch.">
                <p>Solitude</p>
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-vimeo" href="https://vimeo.com/207938930">
                <img src="/images/video/house.jpg" alt="Photo of a large mansion in the Hilton Head area.">
                <p>Real Estate Video</p>
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-vimeo" href="https://vimeo.com/208015560">
                <img src="/images/video/musicvideo.jpg" alt="An illustrated tv with a real boombox inside of it.">
                <p>Furakaso Music Video</p>
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-youtube" href="https://www.youtube.com/watch?v=-IqzmDXR8WA">
                <img src="/images/video/behindthescenes.jpg" alt="Still shot of some behind the scenes footage from Solitude.">
                <p>Solitude: Behind the Scenes</p>
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-youtube" href="https://www.youtube.com/watch?v=Ij96pPbTt1I">
                <img src="/images/video/pwc.jpg" alt="Photo of a member of PWC talking about a ramp that was built for a family.">
                <p>People Working Cooperatively</p>
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-youtube" href="https://www.youtube.com/watch?v=djT7iQP2wn4">
                <img src="/images/video/corestrong.jpg" alt="Interview style photo of a woman showing off her personal gym business.">
                <p>Corestrong</p>
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-youtube" href="https://www.youtube.com/watch?v=-IqzmDXR8WA">
                <img src="/images/video/beer.jpg" alt="Photo of a man sitting in a brewery talking about beer.">
                <p>International Beer Day in Cincinnati</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

