---
layout: work
---
<div id="portfolio" class="text-center paddsection">
    <div class="container">
      <div class="section-title text-center">
        <h1>Videos</h1>
        <p>A collection of real estate photography I’ve taken and edited over the years. The majority of these were shot in Hilton Head on a Nikon d3300 with a 12mm lens and 5 brackets. My more modern photos are taken on a Sony a7r iii with a 24-105mm lens with 3 brackets. Editing done in Photomatix Pro, Lightroom and Photoshop.</p>
      </div>
    </div>
 <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="portfolio-container">
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-youtube" href="//www.youtube.com/86M51shm6IA">
                <img src="/images/realty/9.jpg" alt="HDR photo of an upper landing with an ornate carpet.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/realty/11.jpg">
                <img src="/images/realty/11.jpg"  alt="HDR photo of a private spa room.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/realty/6.jpg">
                <img src="/images/realty/6.jpg" alt="HDR photo of a bright living room looking out to a screened porch.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/realty/redroom.jpg">
                <img src="/images/realty/redroom.jpg" alt="HDR photo of a red dental room.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/realty/4.jpg">
                <img src="/images/realty/4.jpg" alt="HDR photo of a warm living room.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/realty/blueroom.jpg">
                <img src="/images/realty/blueroom.jpg" alt="HDR photo of a blue dental room.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/realty/10.jpg">
                <img src="/images/realty/10.jpg" alt="HDR photo of a luxurious and large living room with fireplace.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/realty/3.jpg">
                <img src="/images/realty/3.jpg" alt="HDR photo of the exterior of a mansion at night.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/realty/7.jpg">
                <img src="/images/realty/7.jpg" alt="HDR photo of a large four seasons room.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/realty/bar.jpg">
                <img src="/images/realty/bar.jpg" alt="HDR photo of a full bar at a restaurant.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/realty/12.jpg">
                <img src="/images/realty/12.jpg"  alt="HDR photo of an in-law suite living room/kitchen.">
              </a>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-thumbnail all">
              <a class="popup-img" href="/images/realty/bar2.jpg">
                <img src="/images/realty/bar2.jpg" alt="HDR photo of a full bar at a restaurant.">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

